<html>
<body>

<h1>New Item</h1>

<form action="#" method = 'post'>

	<p>Name:</p>
	<input type ='text' size='30' name='name'>
	<p>Description:</p>
	<input type ='text' size='30' name='description'><br>
	<input type ='radio'  name='cat' value ='1'>Soccer</br>
	<input type ='radio'  name='cat' value ='2'>Basketball</br>
	<input type ='radio'  name='cat' value ='3'>Baseball</br>
	<input type ='radio'  name='cat' value ='4'>Frisbee</br>
	<input type ='radio'  name='cat' value ='5'>Snowboarding</br>
	<input type ='radio'  name='cat' value ='6'>Rock Climbing</br>
	<input type ='radio'  name='cat' value ='7'>Foosball</br>
	<input type ='radio'  name='cat' value ='8'>Skating</br>
	<input type ='radio'  name='cat' value ='9'>Hockey</br>

<input type='submit' value='Add'>

</form>

</body>
</html>