<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Edit Item</h1>

{% if error %}

{{ error }}

{% else %}

<form action="#" method = 'post'>

	<p>Name:</p>
	<input type ='text' size='30' name='name' value="{{item.name}}">
	<p>Description:</p>
	<input type ='text' size='30' name='description' value="{{item.description}}"><br>
	<input type ='radio'  name='cat' value ='1'>Soccer</br>
	<input type ='radio'  name='cat' value ='2'>Basketball</br>
	<input type ='radio'  name='cat' value ='3'>Baseball</br>
	<input type ='radio'  name='cat' value ='4'>Frisbee</br>
	<input type ='radio'  name='cat' value ='5'>Snowboarding</br>
	<input type ='radio'  name='cat' value ='6'>Rock Climbing</br>
	<input type ='radio'  name='cat' value ='7'>Foosball</br>
	<input type ='radio'  name='cat' value ='8'>Skating</br>
	<input type ='radio'  name='cat' value ='9'>Hockey</br>
	<input type ='radio'  name='cat' value ='10'>Soccer</br>

<input type='submit' value='Create'>

</form>

{% endif %}

</body>
</html>