{% extends "itemlayout.html" %}
{% block title %}Add item{% endblock %}

{% block content %}

<h1>Edit Item</h1>

{% if error %}

{{ error }}

{% else %}

<form action="#" method = 'post'>

	<p>Name:</p>
	<input type ='text' size='30' name='name' value="{{item.name}}">
	<br><br>
	<p>Description:</p>
	<input type ='text' size='30' name='description' value="{{item.description}}">
	<br><br>
	<p>Category:</p>
	<select name="cat">
		<option value ='1'>Soccer</option>
		<option value ='2'>Basketbal</option>
		<option value ='3'>Baseball</option>
		<option value ='4'>Frisbee</option>
		<option value ='5'>Snowboarding</option>
		<option value ='6'>Rock Climbing</option>
		<option value ='7'>Foosball</option>
		<option value ='8'>Skating</option>
		<option value ='9'>Hockey</option>
	</select>
	<br><br>
<input type='submit' value='Edit'>

</form>

{% endif %}

{% endblock %}}