{% extends "layout.html" %}
{% block title %}Items{% endblock %}

{% block content %}
        <div class="col-md-10">
            <br>
            <h3>{{categoryselected.name}}</h3>
            {% if items %}
                {% for item in items %}
                <br>
                <a href="{{ url_for('item', id = item.id)}}">{{ item.name }}</a>
                <br>
                {% endfor %}
            {% else %}
                <p>There are currently no items added to this category.</p>
            {% endif %}
        </div>
{% endblock %}
